/* BASE STYLES */

body {
	background-color: #76549A;
}

/* ----------- For screens 768px and larger ----------- */
@media (min-width: 768px) {
	body {
    background: red;
  }
}

/* ----------- For screens 1200px wide and larger----------- */
@media (min-width: 1200px) {
body {
	background-color: #94B49F;
}
}
